body {
  font-family: "Avenir";
  font-weight: 400;
}

h1 {
  font-weight: 100;
}

canvas {
  border: 1px black solid;
}

#container {
  width: 800px;
  float: left;
  margin-right: 40px;
}

#instructions {
  display: inline-block;
  float: left;
  min-width: 400px;
  width: 40%;
}

#info {
  margin-bottom: 20px;
}

#modeSelect {
  margin-right: 20px;
}

thead {
  font-weight: bold;
}

td {
  padding-left: 20px;
}
.removeButton {
  margin-left: 10px;
}

.enabled {
  margin-right: 10px;
}

.key-wrap {
  display: inline-block;
  width: 120px;
}

.key {
  background-color: rgb(243,243,243);
  color: rgb(33,33,33);
  margin-left: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  box-shadow: inset 0 -1px 0 #bbb;
  font-family: monospace;
  /*font-size: 11px;*/
}

.highlight {
  color: rgb(43, 156, 212);
  font-weight: bold;
}

button {
  -webkit-appearance: none;
  background: rgb(43, 156, 212);
}
